<template>
  <uni-section id="container">
    <view id="order-list">
      <uni-segmented-control
        id="order-list-item"
        :current="current"
        :style-type="styleType"
        :values="items"
        :active-color="activeColor"
        @clickItem="onClickItem"
      />
    </view>
    <view id="order-main">
      <view v-if="current == 0">
        <view class="content-text">
            <view v-if="allOrderList.length === 0" class="notOrder">
                <p>还没有相关订单</p>
            </view>
            <view v-for="(item,index) in allOrderList" :key="index" class="prod-item">
                <view class="order-num">
                    <text >订单编号:{{item.orderNumber}}</text>
                   <view class="order-state">
                    <text class="order-sts.red">待支付</text>
                    </view>
                </view>
                
                <view>
                <view class="item-cont" v-for="(items,i) in item.orderItemDtos" :key="i">
                    <view class="order-pic">
                        <image :src="items.pic"></image>
                    </view>
                    <view class="order-info">
                        <view>{{items.prodName}}</view>
                        <view class="price-nums">
                            <test class="price">
                            <test class="symbol">¥</test>
                            <test class="bignum">{{items.price}}</test>
                            <test class="smallnum">.00</test>
                        </test>
                            <text class='num'>x{{items.prodCount}}</text>
                        </view>
                    </view>
                    
                </view>
                </view>
            <view class="total-num">
                        <test class="prodcount">共1件商品</test>
                        <test class="prodprice">
                            合计：
                            <test class="symbol">¥</test>
                            <test class="bignum">38</test>
                            <test class="smallnum">.00</test>
                        </test>
                    </view>
            <view class="prod-foot">
                <view class="btn">
                    <text class="button" @click="delOrder(item.orderNumber)">取消订单</text>
                    <text class="button warn">再次购买</text>
                    <text class="button warn">付款</text>
                </view>
                
            </view>
            </view>
            
        </view>
      </view>
      <view v-if="current == 1">
        <view class="content-text">
           <view v-if="pay.length === 0" class="notOrder">
                <p>还没有相关订单</p>
            </view>
            <view v-for="(item,index) in pay" :key="index" class="prod-item">
                <view class="order-num">
                    <text >订单编号:{{item.orderNumber}}</text>
                   <view class="order-state">
                    <text class="order-sts.red">待支付</text>
                    </view>
                </view>
                
                <view>
                <view class="item-cont" v-for="(items,i) in item.orderItemDtos" :key="i">
                    <view class="order-pic">
                        <image :src="items.pic"></image>
                    </view>
                    <view class="order-info">
                        <view>{{items.prodName}}</view>
                        <view class="price-nums">
                            <test class="price">
                            <test class="symbol">¥</test>
                            <test class="bignum">{{items.price}}</test>
                            <test class="smallnum">.00</test>
                        </test>
                            <text class='num'>x{{items.prodCount}}</text>
                        </view>
                    </view>
                    
                </view>
                </view>
            <view class="total-num">
                        <test class="prodcount">共1件商品</test>
                        <test class="prodprice">
                            合计：
                            <test class="symbol">¥</test>
                            <test class="bignum">38</test>
                            <test class="smallnum">.00</test>
                        </test>
                    </view>
            <view class="prod-foot">
                <view class="btn">
                    <text class="button" @click="delOrder(item.orderNumber)">取消订单</text>
                    <text class="button warn">再次购买</text>
                    <text class="button warn">付款</text>
                </view>
                
            </view>
            </view>
        </view>
      </view>
      <view v-if="current === 2">
        <view class="content-text">
           <view v-if="send.length === 0" class="notOrder">
                <p>还没有相关订单</p>
            </view>
            </view>
        </view>
      <view v-if="current === 3">
        <view class="content-text">
           <view v-if="goods.length === 0" class="notOrder">
                <p>还没有相关订单</p>
            </view>
        </view>
      </view>
      <view v-if="current === 4">
        <view class="content-text">
           <view v-if="finish.length === 0" class="notOrder">
                <p>还没有相关订单</p>
            </view>
        </view>
        </view>
    </view>
  </uni-section>
</template>

<script>

import {requireAllOrderList,requiredel} from '../../services/user'
export default {
  components: {},
  data() {
    return {
      items: ["全部", "待支付", "待发货", "待收货", "已完成"],
      styles: [
        {
          value: "button",
          text: "按钮",
          checked: true,
        },
        {
          value: "text",
          text: "文字",
        },
      ],
      colors: ["#eb2444", "#4cd964", "#dd524d"],
      current: 0,
      colorIndex: 0,
      activeColor: "#eb2444",
      styleType: "text",
      allOrderList: [],
      pay:[],
      send:[],
      goods:[],
      finish:[],
      shopid:0,
    };
  },
  onLoad(options) {
    this.current = options.count || 0;
    this.allOrder();
  },
  methods: {
    async onClickItem(e) {
      if (this.current !== e.currentIndex) {
        this.current = e.currentIndex;
        console.log(this.current,'21312');
         if(this.current==0){
        this.allOrder();
      } 

      if(this.current==1){
        console.log('123123');
        this.allOrder()
      }
      }
     
    
    },

    //取消订单
  delOrder(id){
    console.log(id)
    this.shopid=id

const that = this;
    uni.showModal({
	    content: '要取消此订单',
	    success:async function (res) {
       
		if (res.confirm) {
			console.log('id-----',id);

       const res = await requiredel(that.shopid);
       console.log(res,'res------');
       //重新渲染接口
       const { records } = await requireAllOrderList({
          current: 1,
          size: 10,
          status: that.current,
        });
        that.pay = records;
       
		} else if (res.cancel) {
			console.log('用户点击取消');

		}
	}
});
    },


    //订单列表数据 全部
    async allOrder() {
      if (this.current == 0) {
        const { records } = await requireAllOrderList({
          current: 1,
          size: 10,
          status: this.current,
        });
        this.allOrderList = records;
        console.log(this.allOrderList, "全部订单数据");
      }
      console.log(this.current,'渲染');
      //待支付订单
      if (this.current == 1) {
        console.log('待支付');
        const { records } = await requireAllOrderList({
          current: 1,
          size: 10,
          status: this.current,
        });
        this.pay = records;
        console.log(this.pay, "待支付订单数据");
      }
    },
    
  },
};
</script>

<style lang="scss">
#container {
  height: 100%;
  box-sizing: border-box;
  color: #333;
  font-family: helvetica, "Heiti SC", PingFangSC-Light;
}

#order-list {
  position: fixed;
  top: 0;
  justify-content: space-around;
  z-index: 999;
  width: 100%;
  height: 86rpx;
  line-height: 100rpx;
  background-color: #fff;
  border-bottom: 2rpx solid #f4f4f4;
}
#order-list text {
  display: block;
  font-size: 28rpx;
  color: 999;
  width: 100rpx;
  text-align: center;
}
#order-main {
  margin-top: 50rpx;
}
#order-list text.activeColor {
  border-bottom: 4rpx solid #eb2444;
  color: #eb2444;
}
.notOrder {
    font-size: 24rpx;
    margin-top: 100rpx;
    text-align: center;
    color: #999;
    height: 300rpx;
    line-height: 300rpx;
}
.prod-item {
    background-color: #fff;
    margin-top: 15rpx;
    font-size: 28rpx;
}
.order-num {
    padding: 20rpx 30rpx;
    display: flex;
    justify-content: space-between;
    font-size: 28rpx;
}
.order-state {
    display: flex;
    align-items: center;
    font-size: 24rpx;
}
.order-sts.red {
    color: #eb2444;
}
.item-cont {
    display: flex;
    align-items: center;
    padding: 20rpx 30rpx;
    border-radius: 10rpx;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    background: #fafafa;
}
.item-cont .order-pic image {
    width: 180rpx;
    height: 180rpx;
}
.order-pic {
    font-size: 0;
    display: inline-block;
    width: 160rpx;
    height: 160rpx;
    overflow: hidden;
    background: #fff;
    margin-right: 16rpx;
}
.order-info {
    margin-left: 10rpx;
    font-size: 28rpx;
    width: 100%;
    position: relative;
    height: 160rpx;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
}
.total-num {
    text-align: right;
    padding: 20rpx 30rpx;
    font-size: 28rpx;
}
.prodcount {
    margin-right: 20rpx;
}
.prodprice {
    display: inline-block;
    color: #333;
}
.symbol {
    font-size: 24rpx;
}
.big-num {
    font-size: 32rpx;
}
.small-num {
    font-size: 24rpx;
}
.prodcount {
    margin-right: 20rpx;
}
.prod-foot {
    padding: 20rpx 30rpx;
    border-top: 2rpx solid #e6e6e6;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.button {
    margin-left: 10px;
    font-size: 26rpx;
    background: #fff;
    padding: 10rpx 30rpx;
    border-radius: 80rpx;
    border: 2rpx solid #e1e1e1;
}
.button.warn {
    color: #eb2444;
    border-color: #eb2444;
}
.price {
    color: #333;
    position: absolute;
    bottom: 0;
}
.num{
    position: absolute;
    bottom: 5rpx;
    right: 0;
    color: #999;
    font-family: verdana;
}
.bignum {
    font-size: 32rpx;
}
</style>

