<template>
  <view class="content">
    <view class="search">
      <view>
        <img src="../../static/icon/search.png" alt="" class="searchImg" />
      </view>
      <input type="text" placeholder="搜索您想要的商品" @click="toSerach" />
    </view>
    <view class="classifyList">
      <view class="classify_left">
        <view
          v-for="item in classifyLeft"
          :key="item.categoryId"
          @click="changeCon(item.categoryId,item)"
          id="left_item"
          :class="classifyIndex == item.categoryId ? 'active' : ''"
        >
          {{ item.categoryName }}
        </view>
      </view>
      <view class="classify_right">
          <image :src="pic" alt="" class="classify_img" />
        <view
          v-for="val in classifyRight"
          :key="val.categoryId"
          @click="
            $toPage({
              url: '/pages/goodsDetail/index',
              query: {
                id: val.prodId,
              },
            })
          "
          class="right_item"
        >
          <view>
            <img :src="val.pic" alt="" class="img" />
          </view>
          <view class="right_item_r">
            <h5 class="text">{{ val.prodName }}{{ val.prodId }}</h5>
            <p class="text brief">{{ val.brief }}</p>
            <p class="price">￥{{ val.price }}<span class="point">.00</span></p>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { classifyLeft, classifyRight } from "../../services/classify";

export default {
  data() {
    return {
      classifyLeft: [], //左侧数据
      classifyRight: {}, //右侧数据
      classifyIndex: 85, //默认高亮
      pic:"https://img.mall4j.com/2019/04/4f148d81d60941b695cb77370a073653.jpg",
    };
  },
  onLoad() {
    this.getClassifyLeft();
    this.getClassifyRight();
  },
  methods: {
    // 左侧数据
    async getClassifyLeft() {
      const data = await classifyLeft({});
      this.classifyLeft = data;
      console.log(this.classifyLeft, "左侧数据");
    },

    // 右侧数据
    async getClassifyRight() {
      const data = await classifyRight({
        categoryId: this.classifyIndex,
      });
      this.classifyRight = data?.records;
      // console.log(data.records, "分类右侧数据");
    },

    // 点击左侧切换
    changeCon(id, item) {
      this.classifyIndex = id;
      this.pic = item.pic;
      this.getClassifyRight();
      console.log(item.pic,"----------------------");
    },

    // 跳到商品详情页
    async toGoodsDetail(e, id) {
      // e.stopPropagation();
      // e.preventDefault();
      // await this.$toPage({
      //   url: "/pages/goodsDetail/index",
      //   query: {
      //     id:68,
      //   },
      // });
    },

    // 跳到搜索页
    toSerach() {
      this.$toPage({
        url: "/pages/search/search",
      });
    },
  },
};
</script>

<style>
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
}
.search {
  font-size: 24rpx;
  width: 100%;
  height: 100rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.search .searchImg {
  width: 32rpx;
  height: 32rpx;
  position: absolute;
  left: 35%;
  top: 35rpx;
}

.search input {
  width: 90%;
  height: 60rpx;
  border-radius: 30rpx;
  background: #f1f1f1;
}
.classifyList {
  width: 100%;
  flex: 1;
  display: flex;
  font-size: 30rpx;
  overflow: hidden;
}

.classify_left {
  width: 200rpx;
  flex-shrink: 0;
  background-color: #f5f6f7;
}
#left_item {
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
}
.classify_right {
  width: calc(100% - 200rpx);
  box-sizing: border-box;
  background-color: #fff;
  padding: 20rpx;

  overflow-y: scroll;
}

.right_item {
  width: 100%;
  height: 150rpx;
  display: flex;
  overflow: hidden;
  padding: 20rpx 0;
  line-height: 50rpx;
  border-bottom: 1px solid #f1f1f1;
}

.img {
  width: 150rpx;
  height: 150rpx;
  border-radius: 10rpx;
}

.right_item_r {
  padding: 0 20rpx;
}

.text {
  width: 100%;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.brief {
  color: grey;
  font-size: 22rpx;
}

.price {
  color: red;
}

.point {
  font-size: 20rpx;
}

.active {
  background: #fff;
  border-left: 2px solid red;
  color: red;
}

.classify_img {
  height: 150rpx;
  width: 99%;
}
</style>
