<template>
  <view class="container">
    <image src="../../static/icon/logo.png" class="logo" />
    <view class="msg">电商平台</view>
    <view class="title">申请获得你的公开信息（昵称、头像等）</view>
    <button
      lang="zh_CN"
      open-type="getUserInfo"
      role="button"
      @click="Accredit"
    >
      微信授权
    </button>
  </view>
</template>

<script>
import { SetUserInfo } from '../../services/user'
export default {
  data() {
    return {}
  },
  onLoad() {},
  methods: {
    async Accredit() {
      uni.getUserProfile({
        desc: '获取你的昵称、头像、地区及性别',
        //点完允许会走到 success
        success: (res) => {
          const { avatarUrl, nickName } = res.userInfo
          //调用SetUserInfo 接口
          SetUserInfo({ avatarUrl, nickName }).then((res) => {
            console.log('触发', res)
          })
          //页面转首页
          uni.redirectTo({
            url: '/pages/index/index',
          })
        },
        fail() {},
      })
    },
  },
}
</script>

<style scoped>
image {
  display: block;
  width: 150rpx;
  height: 150rpx;
  margin: auto;
  margin-top: 100rpx;
  border-radius: 50%;
}
view.title {
  font-size: 28rpx;
  color: #333;
  width: 100%;
  text-align: center;
  margin-top: 20rpx;
}
view.msg {
  font-size: 24rpx;
  color: #666;
  width: 100%;
  text-align: center;
  margin-top: 10rpx;
}
button {
  margin-top: 30rpx;
  width: 450rpx;
  height: 70rpx;
  line-height: 70rpx;
  font-size: 30rpx;
  color: #fff;
  background: #eb2444;
  border: 2rpx solid #eb2444;
}
</style>
