<template>
  <view class="content">
    <view
      class="item_cont"
      v-for="(item, index) in newData"
      :key="index"
      @click="goDetail(item.prodId)"
    >
      <view class="img">
        <image :src="item.pic" class="img"></image>
      </view>
      <view class="txt_cont">
        <text class="prodName">{{ item.prodName.slice(0, 28) }}</text>
        <view class="price">
          <span>￥{{ item.price }}</span>
        </view>
      </view>
    </view>
    <view class="block" v-if="newData.length === 0"> 暂无商品 </view>
  </view>
</template>
  
  <script>
import { getNewData } from "../../services/user";
export default {
  data() {
    return {
      newData: [],
    };
  },
  onLoad() {
    this.init();
  },
  methods: {
    async init() {
      const res = await getNewData({
        current: 1,
        size: 10,
      });
      // console.log(res.records, "新品推荐数据");
      this.newData = res.records;
    },
    goDetail(id) {
      this.$toPage({
        url: "/pages/goodsDetail/index",
        query: {
          id: id,
          name: "zs",
        },
      });
    },
  },
};
</script>
  
  <style>
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title {
  font-size: 36rpx;
  color: #8f8f94;
}
/* 每件商品 */
.item_cont {
  width: 50%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  */
.img {
  width: 345rpx;
  height: 345rpx;
}
/* 标题 */
.prodName {
  font-size: 10px;
}
.txt_cont {
  width: 345rpx;
  height: 100%;
  position: relative;
}
.prodName {
  line-height: 28rpx;
}
.price {
  position: absolute;
  bottom: 10px;
  font-size: 32rpx;
  color: red;
}
</style>
  