<template>
  <view class="content">
    <scroll-view :scroll-top="scrollTop" scroll-y="true" class="scroll-Y">
      <swiper
        class="swiper"
        circular
        :indicator-dots="true"
        :autoplay="true"
        :interval="1200"
        :duration="500"
      >
        <swiper-item
          v-for="(item, index) in imgs"
          :key="index"
          class="swiper-item"
        >
          <img :src="item" alt="" class="sw_img" />
        </swiper-item>
      </swiper>

      <view class="goods">
        <view class="goods_t">
          <view class="goods_t_l">
            <h4>{{ detailGoods.prodName }}</h4>
          </view>
          <div class="goods_t_r" @click="collectGoods">
            <view v-if="isCollect"
              ><img
                src="../../static/icon/prod-col-red.png"
                alt=""
                class="prod-col"
            /></view>
            <view v-else
              ><img
                src="../../static/icon/prod-col.png"
                alt=""
                class="prod-col"
            /></view>
            <p class="collect">收藏</p>
          </div>
        </view>
        <div class="goods_c">
          <p class="brief">{{ detailGoods.brief }}</p>
        </div>
        <div class="goods_b">
          <p class="price">￥{{ detailGoods.price }}</p>
        </div>
      </view>
      <view class="count" @click="open">
        <span class="choose">已选</span>
        <span class="num">{{ skuData.checkedCount }}件</span>
        <span class="sheng">…</span>
      </view>
      <view class="comment" @click="open_com">
        <view class="comment_top">
          <div class="comment_top_l">
            <span>评价</span>
            <span class="good_com">好评0%</span>
          </div>
          <div class="comment_top_r">
            <span>共0条</span>
            <span>
              <img src="../../static/icon/more.png" alt="" class="more_com" />
            </span>
          </div>
        </view>
        <view class="comment_tag">
          <span>全部(0)</span>
          <span>好评(0)</span>
          <span>中评(0)</span>
          <span>差评(0)</span>
          <span>有图(0)</span>
        </view>
      </view>
      <view class="img" v-html="content"></view>
    </scroll-view>

    <!-- 底部商品导航 -->
    <view id="tabbar">
      <view class="detail_kefu">
        <button class="kefu_btn" open-type="contact" style="outline: none">
          <img
            src="../../static/icon/kefu.png"
            alt=""
            style="width: 30rpx; height: 30rpx"
          />客服
        </button>
      </view>
      <view class="goods-carts">
        <uni-goods-nav
          :options="options"
          :buttonGroup="buttonGroup"
          @click="onClick"
          @buttonClick="buttonClick"
        />
        <view id="shopCarCount">{{ shopCarCount }}</view>
      </view>
    </view>

    <!-- 商品弹框 -->
    <uni-popup ref="popup" background-color="#fff">
      <view
        class="popup-content"
        :class="{ 'popup-height': type === 'left' || type === 'right' }"
      >
        <view class="popupContent_top">
          <view class="popupContent_top_l">
            <img :src="skuData.checkedPic" v-if="skuData.checkedPic" alt="" />
            <view v-else class="noPic"></view>
          </view>
          <view class="popupContent_top_r">
            <view class="popupContent_top_r_t">
              <span class="D_price" v-if="!disabled"
                >￥{{ skuData.checkedPrice }}</span
              >
              <span v-else>无货</span>
              <span @click="closeModal_Goods" class="close">X</span>
            </view>
            <view class="popupContent_top_r_b">
              已选 {{ skuData.checkedProperty.join(",") }}
              {{ skuData.checkedCount }}件
            </view>
          </view>
        </view>

        <!-- 动态渲染properties -->
        <view class="popupContent_center" v-if="skuData.properties.length">
          <view v-for="(val, i) in skuData.properties" :key="i">
            <h4>{{ val.title }}</h4>
            <view class="type">
              <span
                v-for="(v, index) in val.items"
                :key="index"
                :class="[
                  isShowActive({
                    typeIndex: i,
                    itemName: v,
                  }),
                ]"
                @click="
                  handleItems({
                    typeIndex: i,
                    itemName: v,
                  })
                "
                >{{ v }}</span
              >
            </view>
          </view>
        </view>
        <view class="shopNum">
          <h4>数量</h4>
          <view id="btns">
            <span @click="handleCount(-1)" id="cutBtn">-</span>
            <span>{{ skuData.checkedCount }}</span>
            <span @click="handleCount(1)" id="cutBtn">+</span>
          </view>
        </view>
        <view class="popupContent_bottom">
          <span
            :class="['addCar', disabled ? 'bot_btns' : '']"
            @click="addShopCar"
            >加入购物车</span
          >
          <span
            :class="['buyShop', disabled ? 'bot_btns' : '']"
            @click="toSubmitOrder"
            >立即购买</span
          >
          <!-- 根据是否禁用开关，添加禁用状态样式 -->
        </view>
      </view>
    </uni-popup>

    <!-- 商品评价弹框  -->
    <uni-popup ref="popup_com" background-color="#fff" class="popbox">
      <view
        class="popup-content"
        :class="{ 'popup-height': type === 'left' || type === 'right' }"
      >
        <view class="comment_Com">
          <view class="comment_top">
            <div class="comment_top_l">
              <span class="com_goods">商品评价</span>
              <span class="good_com">好评度0%</span>
            </div>
            <div class="comment_top_r">
              <span @click="closeModal_com">X</span>
            </div>
          </view>
          <view class="comment_tag" id="modal_comtag">
            <span id="choose_tag">全部(0)</span>
            <span>好评(0)</span>
            <span>中评(0)</span>
            <span>差评(0)</span>
            <span>有图(0)</span>
          </view>
        </view>
      </view>
    </uni-popup>
  </view>
</template>

<script>
import { requestGoodsDetail } from "../../services/detail";
import { requestCollect, requestCollectStatus } from "../../services/collect";
import {
  shopcarChangeItemData,
  shopListSubmit,
  shopcarCountData,
} from "../../services/user";
import { uniGoodsNav } from "@dcloudio/uni-ui";
export default {
  data() {
    return {
      detailGoods: {}, //商品详情
      imgs: [], //轮播图
      content: "", //富文本
      isCollect: false, //判断商品是否是收藏状态
      shopCarCount: 0,
      //底部商品导航数据
      options: [
        {
          icon: "cart",
          text: "购物车",
          // info: 1,
        },
      ],
      buttonGroup: [
        {
          text: "加入购物车",
          backgroundColor: "#584e61",
          color: "#fff",
        },
        {
          text: "立即购买",
          backgroundColor: "#eb2444",
          color: "#fff",
        },
      ],
      skuData: {
        //商品规格数据
        checkedPic: "", //图片
        checkedPrice: 0, //商品价格
        checkedProperty: [], //默认skuList数组第一项
        checkedCount: 1, //商品数量
        properties: [], // 有商品属性分类的标题和标题下对应的属性
      },
      disabled: false, //当商品库存不足时，商品规格按钮和底部加入购物车和立即购买按钮是否禁用状态
    };
  },
  onLoad(options) {
    // console.log(typeof options.id,"options.id");
    this.getGoodDetail(options.id);
    this.getGoodsCollect(options.id);
    this.collectGoods(options.id);
  },

  watch: {
    // 6. 监听选中属性变化，重新计算出商品价格和图片
    "skuData.checkedProperty"(val) {
      const curItem = this.findCurItem(val);
      // console.log(val,'选中的商品属性');
      // console.log(curItem,"从skuList中找到的符合条件的那一条数据");
      // 修改价格和图片
      this.skuData.checkedPrice = curItem?.price;
      this.skuData.checkedPic = curItem.pic
        ? curItem.pic
        : this.detailGoods?.pic;
    },
  },

  methods: {
    // 在渲染之前对需要的字符串样式进行解析
    formatHTML(htmlStr) {
      return htmlStr
        .replace(/width\=\"\d+\"/g, "width='100%'")
        .replace(/height\=\"\d+"/g, "");
    },

    // 1. 格式化skuList数据 进行properties动态渲染
    formatSKU(data) {
      const { properties, skuName } = data[0];
      // skuName: "换修无忧版 深空灰色 64GB "
      // properties: 版本:换修无忧版;颜色:深空灰色;内存:64GB
      if (data.length >= 1) {
        // 选中的属性
        this.skuData.checkedProperty = skuName.split(/\s/);
        if (properties) {
          // 处理规格
          this.skuData.properties = properties.split(";").map((item, i) => {
            const [title] = item.split(":");
            const items = [
              ...new Set(data.map(({ skuName }) => skuName.split(/\s/)[i])),
            ];
            return {
              title, //规格标题
              items, //规格分类
            };
          });
        }
      }
    },

    // 2. 判断当前是不是选中状态 ， 没有的，灰色禁用
    isShowActive({ typeIndex, itemName }) {
      const checkPro = [...this.skuData.checkedProperty]; //重新定义选中商品属性
      checkPro[typeIndex] = itemName;
      // console.log(checkPro[typeIndex],"checkProcheckPro");
      let flag = "";

      this.skuData.checkedProperty.forEach((item, index) => {
        //9个按钮， 循环遍历9次
        // console.log(item,index,"item,index");
        if (typeIndex === index && itemName === item) {
          //先判断选中的属性中和下标一致的规格，在判断选中的规格名称有商品库存的高亮
          flag = "active";
        }
      });

      flag = this.findCurItem(checkPro) ? flag : flag + " disabled"; //没有库存的规格按钮显示禁用状态
      return flag;
    },

    // 从所有sukList数据中，查找当前选中商品属性是否存在
    findCurItem(checks) {
      return this.detailGoods.skuList.find(
        ({ skuName }) => checks.join(" ") === skuName
      );
    },

    // 3. 点击商品规格按钮
    handleItems({ typeIndex, itemName }) {
      this.disabled =
        this.isShowActive({ typeIndex, itemName }).trim() === "disabled";
      console.log(this.disabled, "this.disabledthis.disabled");
      let { checkedProperty } = this.skuData;
      checkedProperty[typeIndex] = itemName;
      this.skuData.checkedProperty = [...checkedProperty];
    },

    // 4.弹框中点击 点击加入购物车
    async addShopCar() {
      // 按钮禁用
      if (this.disabled === true) {
        return;
      }

      const res = await shopcarChangeItemData({
        basketId: 0,
        count: this.skuData.checkedCount,
        prodId: this.detailGoods.prodId,
        shopId: this.detailGoods.shopId,
        skuId: this.findCurItem(this.skuData.checkedProperty).skuId,
      });

      this.getGoodsCount();

      console.log(this.shopCarCount, "this.shopCarCount");

      if (res.statusCode === 200) {
        uni.showToast({
          title: res,
          duration: 2000,
          icon: "none",
        });
        await this.changeShopcarCountData()
      } else {
        uni.showToast({
          title: res,
          duration: 2000,
          icon: "none",
        });
      }
    },
    //5. 点击数量加减
    handleCount(flag) {
      if (flag === -1 && this.skuData.checkedCount === 1) return;
      else {
        this.skuData.checkedCount = this.skuData.checkedCount + flag;
      }
    },

    // 商品详情
    async getGoodDetail(id) {
      const data = await requestGoodsDetail({
        prodId: id,
      });
      this.detailGoods = data;
      this.content = data.content = this.formatHTML(data.content);
      this.imgs = data.imgs.split(",");
      this.formatSKU(data.skuList); //所有skuList数据
      console.log(this.detailGoods, "商品详情");
      // console.log(this.skuData.properties, "----商品详情");
    },

    // 进入商品详情页判断商品是否收藏
    async getGoodsCollect(id) {
      const res = await requestCollect({
        prodId: id,
      });

      this.isCollect = typeof res === "boolean" ? res : res?.data;
      console.log(this.isCollect, "是否收藏");
    },

    // 点击商品收藏按钮
    async collectGoods(id) {
      const res = await requestCollectStatus(id);
      this.isCollect = !this.isCollect;
      console.log(res, "收藏状态");
    },

    // 底部商品导航事件
    onClick(e) {
      if (e.content.text === "购物车") {
        //跳转到购物车页面
        this.$toPage({
          url: "/pages/shopCar/index",
          tabbar: true,
        });
      }
    },

    // 底部按钮点击加入购物车  和  立即购买
    buttonClick(e) {
      if (e.content.text === "加入购物车") {
        this.open();
      }
      if (e.content.text === "立即购买") {
        // console.log({prodId: this.detailGoods.prodId,
        //       skuId: this.findCurItem(this.skuData.checkedProperty).skuId,
        //       prodCount: this.skuData.checkedCount,
        //       shopId: this.detailGoods.shopId},"000000000");
        this.$toPage({
          url: "/pages/submitOrder/index",
          query: {
            prodId: this.detailGoods.prodId,
            skuId: this.findCurItem(this.skuData.checkedProperty).skuId,
            prodCount: this.skuData.checkedCount,
            shopId: this.detailGoods.shopId,
            type: "goodsDetails",
          },
        });
      }
    },

    // 打开商品弹框
    open() {
      // 通过组件定义的ref调用uni-popup方法 ,如果传入参数 ，type 属性将失效 ，仅支持 ['top','left','bottom','right','center']
      this.$refs.popup.open("bottom");
    },
    // 关闭商品弹框
    closeModal_Goods() {
      this.$refs.popup.close();
    },

    // 打开评价弹框
    open_com() {
      // 通过组件定义的ref调用uni-popup方法 ,如果传入参数 ，type 属性将失效 ，仅支持 ['top','left','bottom','right','center']
      this.$refs.popup_com.open("bottom");
    },
    // 关闭评价弹框
    closeModal_com() {
      this.$refs.popup_com.close();
    },

    // 点击跳转到提交订单页
    toSubmitOrder() {
      if (this.disabled === true) {
        return;
      }
      this.$toPage({
        url: "/pages/submitOrder/index",
        query: {
          prodId: this.detailGoods.prodId,
          skuId: this.findCurItem(this.skuData.checkedProperty).skuId,
          prodCount: this.skuData.checkedCount,
          shopId: this.detailGoods.shopId,
          type: "goodsDetails",
        },
      });
    },

    // 获取商品数量接口
    async getGoodsCount() {
      const res = await shopcarCountData();
      this.shopCarCount = res;
      console.log(res,"商品数量");
    },
  },
};
</script>

<style scoped>
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  overflow: scroll;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 1300rpx;
  box-sizing: border-box;
}

.swiper-item {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.swiper-item .sw_img {
  height: 100%;
  width: 100%;
}

.goods {
  width: 100%;
  height: 180rpx;
  font-size: 32rpx;
  position: relative;
  padding: 30rpx;
  background: #fff;
}

.goods_t {
  display: flex;
}

.goods_t_l {
  width: 80%;
  border-right: solid 1rpx #ccc;
  padding-right: 20rpx;
}
.brief {
  font-size: 24rpx;
  color: grey;
  line-height: 60rpx;
}

.goods_t_r {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.collect {
  font-size: 20rpx;
}

.prod-col {
  width: 40rpx;
  height: 40rpx;
}

.price {
  color: rgb(215, 5, 5);
  font-weight: 900;
}

.price span {
  font-size: 20rpx;
}

.count {
  width: 100%;
  height: 80rpx;
  box-sizing: border-box;
  margin: 20rpx 0 20rpx 0;
  display: flex;
  align-items: center;
  font-size: 24rpx;
  background: #fff;
}

.count span {
  margin: 20rpx;
}

.count .sheng {
  padding-left: 70%;
}

.choose {
  color: grey;
  font-size: 20rpx;
}
.num {
  font-weight: 900;
}

.comment {
  width: 100%;
  font-size: 32rpx;
  position: relative;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.comment_top {
  width: 100%;
  height: 100rpx;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.comment_top_l {
  width: 80%;
}

.comment_top_l span {
  margin-left: 20rpx;
}

.comment_top_r {
  font-size: 24rpx;
  margin: 20rpx;
}

.good_com {
  font-size: 24rpx;
  color: rgb(215, 5, 5);
}

.more_com {
  width: 30rpx;
  height: 30rpx;
}

.comment_tag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 200rpx;
  margin-bottom: 20rpx;
}

.comment_tag span {
  background: #f7edeef6;
  text-align: center;
  margin: 30rpx 20rpx 0 20rpx;
  padding: 10rpx 16rpx;
  display: inline-block;
}

.img {
  width: 100%;
  height: 282rpx;
  background: #fff;
  box-sizing: border-box;
  margin-top: 20rpx;
}

.goods-carts {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: column;
  position: fixed;
  left: 120rpx;
  right: 0;
  /* #ifdef H5 */
  left: var(--window-left);
  right: var(--window-right);
  /* #endif */
  bottom: 0;
  font-size: 26rpx;
}

#shopCarCount {
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
  background: #e4393c;
  color: #fff;
  font-size: 24rpx;
  position: absolute;
  text-align: center;
  line-height: 40rpx;
  left: 80rpx;
  bottom: 80rpx;
  z-index: 999999;
}

#tabbar {
  width: 100vw;
  height: 120rpx;
  display: flex;
  position: fixed;
  background: #fff;
  bottom: 0;
}

.detail_kefu {
  width: 120rpx;
  height: 120rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.kefu_btn {
  font-size: 28rpx;
  text-align: center;
  background: none;
  display: flex;
  flex-direction: column;
  margin-top: 20rpx;
  color: grey;
}
.kefu_btn ::after {
  border: none;
}

.popup-content {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  display: flex;
  min-height: 400rpx;
  max-width: 950rpx;
  flex-direction: column;
}

.popupContent_top {
  width: 100%;
  height: 160rpx;
  display: flex;
  font-size: 26rpx;
  position: relative;
}

.popupContent_top_l {
  width: 200rpx;
  height: 200rpx;
  position: absolute;
  top: -100rpx;
}

.popupContent_top_l img {
  width: 100%;
  height: 100%;
}

.popupContent_top_l .noPic {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
}

.popupContent_top_r {
  margin-left: 230rpx;
}

.popupContent_top_r_t {
  display: flex;
  height: 60rpx;
  justify-content: space-between;
  align-items: center;
}

.D_price {
  color: #e4393c;
}

.close {
  display: inline-block;
  width: 44rpx;
  height: 44rpx;
  font-size: 30rpx;
  position: fixed;
  right: 10rpx;
}

.popupContent_center {
  width: 100%;
}

.popupContent_center h4 {
  color: grey;
  font-size: 30rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.popupContent_center .type span {
  display: inline-block;
  margin: 5rpx;
  padding: 20rpx;
  border-radius: 10rpx;
  border: solid 1px grey;
  background: #f1f1f1;
  font-size: 32rpx;
}

.shopNum {
  height: 200rpx;
  width: 100vw;
  display: flex;
}
#btns {
  width: 180rpx;
  height: 60rpx;
  position: fixed;
  right: 10%;
  display: flex;
  align-items: center;
  bottom: revert;
}

#btns button {
  width: 50rpx;
  height: 50rpx;
  border-radius: 0;
  font-size: 24rpx;
  text-align: center;
  border: none;
}

#btns > span {
  border: solid 1px #f1f1f1;
  width: 60rpx;
  height: 50rpx;
  text-align: center;
  background: #fcfcfc;
  color: grey;
}

.popupContent_bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100rpx;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 26rpx;
  color: #fff;
}

.popupContent_bottom.disabled1 {
  background: #ccc;
  color: #fff;
}

.addCar,
.buyShop {
  width: 100%;
  color: #fff;
  height: 100rpx;
  border-radius: none;
  font-size: 30rpx;
  line-height: 100rpx;
  text-align: center;
}

.addCar {
  background: #584e61;
}
.buyShop {
  background: #eb2444;
}

.comment_Com {
  width: 100%;
  height: 1100rpx;
  padding: 15px;
  background-color: #fff;
}

.com_goods {
  font-size: 32rpx;
}

#choose_tag {
  background: #e4393c;
  color: #fff;
}

#modal_comtag {
  font-size: 32rpx;
}

/* sku规格选中高亮 */
.popupContent_center span.active {
  background: #eb2444;
  color: #fff;
}

.popupContent_center span.disabled {
  border-style: dashed;
}
.bot_btns {
  background: #ccc;
  color: #fff;
}
</style>