/<template>
  <view class="edit">
    <view class="view-item">
      <text>收货人</text>
      <input type="text" placeholder="姓名" v-model="name" />
    </view>
    <view class="view-item">
      <text>手机号码</text>
      <input type="text" placeholder="11位手机号码" v-model="tel"/>
    </view>
    <view class="view-item">
      <text>所在地区</text>
      <view class="city">三级联动城市</view>
       <view class="arrow">
         <image src="../../static/icon/more.png">
      </view>
    </view>
    <view class="view-item">
      <text>详细地址</text>
      <input
        type="text"
        placeholder="如楼号/单元/门牌号"
        v-model="mapValue"
      />
      <view class="arrow" @click="goMap">
         <image src="../../static/icon/dot.png">
      </view>
     
    </view>
    <view class="address-save">
      <button @click="saveAddressBtn" class="savebtn">保存收货地址</button>
      <button class="delbtn">删除收货地址</button>
    </view>
  </view>
</template>

<script>
const chooseLocation = requirePlugin('chooseLocation');
export default {
    data(){
        return {
            name:'',
            tel:'',
            mapValue:'',
        }
    },
    // 从地图选点插件返回后，在页面的onShow生命周期函数中能够调用插件接口，取得选点结果对象
    onShow () {
        const location = chooseLocation.getLocation(); // 如果点击确认选点按钮，则返回选点结果对象，否则返回null
        console.log(location,'地址');
        this.mapValue = location.address;
    },
    onUnload () {
        // 页面卸载时设置插件选点数据为null，防止再次进入页面，geLocation返回的是上次选点结果
        chooseLocation.setLocation(null);
    },
    methods:{
        goMap(){
            //打开地图进行选点服务
            const key = '4QABZ-MH2L5-VLBIU-QEKTD-ZPVLH-MQBMP'; //使用在腾讯位置服务申请的key
            const referer = '八维电商平台'; //调用插件的app的名称
            //配置经纬度 打开地图的中心点位置
            const location = JSON.stringify({
                latitude: 39.89631551,
                longitude: 116.323459711
            });
            const category = '生活服务,地图选址';
            uni.navigateTo({
            url: 'plugin://chooseLocation/index?key=' + key + '&referer=' + referer + '&location=' + location + '&category=' + category
            });
        },
        //点击保存按钮
        saveAddressBtn(){
            console.log('111');
        }

    }
};
</script>

<style>
.edit{
    height: 100%;
    box-sizing: border-box;
    color: #333;
    font-family: helvetica,'Heiti SC',PingFangSC-Light;
}
.view-item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 28rpx;
    padding: 30rpx 10rpx;
    line-height: 48rpx;
    height: 100rpx;
    box-sizing: border-box;
    border-bottom: 2rpx solid #e5e5e5;
}
.view-item  text {
  width: 20%;
  color:#333;
  padding: 0 10rpx;
}
.view-item  input{
    width: 70%;
    padding: 0 20rpx;
    color: #333;
    font-size: 28rpx;
}
.city {
    width: 70%;
    padding: 0 20rpx;
}
.arrow {
    width: 28rpx;
    height: 28rpx;
    margin-right: 10rpx;
}
.arrow image {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.address-save {
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.address-save .savebtn {
    font-size: 30rpx;
    color: #fff;
    background-color: #eb2444;
    width: 60%;
    height: 80rpx;
    line-height: 80rpx;
    margin: auto;
    text-align: center;
    border: 1rpx solid #eb2444;
    border-radius: 50rpx;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    margin-top: 50rpx;
}
.address-save .delbtn {
    font-size: 30rpx;
    color: #eb2444;
    width: 60%;
    height: 80rpx;
    line-height: 80rpx;
    margin: auto;
    text-align: center;
    border: 1rpx solid #eb2444;
    border-radius: 50rpx;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    margin-top: 50rpx;
}
</style>