<template>
	<view class="content">
		<view v-if="shopCarList.length > 0">
			<view class="prod-list">
				<view class="container">
					<view>
						<!-- <h2 class="H2title">{{shopName}}</h2> -->
						<checkbox-group @change="getItemsChecked">
							<dl v-for="item in shopCarList" :key="item.basketId" class="ShopCarItems">
								<label>
									<checkbox color="#105c3e" :value="item.basketId" :checked="item.itemChecked">
									</checkbox>
								</label>
								<dt class="dtt">
									<image class="imgs" :src="item.pic" />
								</dt>
								<dd>
									<p class="prod-name">{{item.prodName}}</p>
									<p class="prod-info-text">{{item.skuName}}</p>
									<view class="large-box">
										<view class=" price">
											<text class=" symbol">￥</text>
											<text class=" big- num"> {{item.price}}</text>
										</view>
										<view class="m-numSelector">
											<view class="minus" @click="ChangeItemsCount(-1,item)">-</view>
											<input type=" number" :value="item.prodCount">
											<view class="plus" @click="ChangeItemsCount(1,item)">+</view>
										</view>
									</view>
								</dd>
							</dl>
						</checkbox-group>
					</view>
				</view>
			</view>
			<div class="cart-footer">
				<view class='btn all'>
					<label>
						<checkbox color="#105c3e" value="20" :checked="allChecked" @click="ChangeallChecked" />
						全选
					</label>
				</view>
				<view bindtap="onDelBasket" class="btn del"><text @click="onDelBasket">删除</text></view>
				<view class="btn total">
					<view class="finally">
						<text>合计:</text>
						<view class="price1">
							<text>￥{{finalMoney}}</text>
						</view>
					</view>
				</view>
				<view bindtap="toFirmOrder" class="btn settle" @click="gotoSubmit"><text>结算</text></view>
			</div>
		</view>
		<view v-else>
			<view class="empty">
				<view class="img">
					<image src="@/static/tabbar/basket.png" alt="" />
				</view>
				<view class="txt">您还没有添加任何商品哦~</view>
			</view>
		</view>
	</view>

</template>

<script>
import { shopcarData, shopcarSelectData, shopcarChangeItemData, shopcarDeleteData } from '@/services/user'
export default {
	data() {
		return {
			shopCarList: [],
			finalMoney: 0,
			subList: [],
			allChecked: false,
			shopName:''
		}
	},
	onShow() {
		this.shopcardata()
		this.changeShopcarCountData()
	},
	watch: {
		shopCarList: {
			handler(val) {
				const checkes = val.filter(item => item.itemChecked).map(v => v.basketId)
				this.getTotalMoney(checkes);
			},
			deep: true
		}
	},

	methods: {
		async shopcardata() {
			const res = await shopcarData({})
			if(res.length){
				this.shopName =  res[0].shopName
			    this.shopCarList = res[0].shopCartItemDiscounts[0].shopCartItems.map(item => ({ ...item, itemChecked: false }))
			}else{
				this.shopCarList =[]
			}
			
		},
		async getItemsChecked(e) {
			this.shopCarList.map((item) => {
				if (e.target.value.includes(`${item.basketId}`)) {
					item.itemChecked = true;
				} else {
					item.itemChecked = false;
				}
			})
			this.getTotalMoney(e.target.value)
			this.subList = e.target.value
			this.allChecked = e.target.value.length === this.shopCarList.length;
		},
		async getTotalMoney(value) {
			const res = await shopcarSelectData(value)
			this.finalMoney = (res.finalMoney).toFixed(2)
		},
		async ChangeItemsCount(count, { prodId, shopId, skuId, prodCount }) {
			if (prodCount === 1 && count === -1) {
				return
			}
			await shopcarChangeItemData({
				count,
				prodId,
				shopId,
				skuId
			})
			this.changeShopcarCountData()
			const curItem = this.shopCarList.find(item => item.prodId === prodId)
			curItem.prodCount = curItem.prodCount + count
			console.log(this.shopCarList);
		},
		gotoSubmit() {
			if (this.subList.length === 0) {
				uni.showToast({
					title: '请选择商品',
					duration: 2000,
					icon: 'error'
				});
				return
			}
			this.$toPage({
				url: "/pages/submitOrder/index",
				query: {
					id: this.subList,
					type:'shopCar'
				},
			});
		},
		ChangeallChecked() {
			this.allChecked = !this.allChecked; // 同步全选自身状态
			this.shopCarList.map(item => {
				item.itemChecked = this.allChecked;
			})
			this.shopCarList.forEach(item => {
				this.subList.push(item.basketId)
			})
			console.log(this.subList);
		},
		async onDelBasket() {
			console.log(this.subList);
			if (this.subList.length === 0) {
				uni.showToast({
					title: '请选择商品',
					icon: 'error'
				})
			} else {
				uni.showModal({
					title: '',
					content: '确认要删除选中的商品吗?',
					confirmColor: '#eb2444',
					success: async (res) => {
						if (res.confirm) {
							await shopcarDeleteData(this.subList)
							await this.shopcardata()
							 this.changeShopcarCountData()
						} else if (res.cancel) {
							console.log('取消');
						}
					}
				});
			}
		},
	}
}
</script>

<style>
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f8f8f8;
	overflow-y: auto;
}

.prod-list {
	width: 100%;
	height: 100%;
	background: #f8f8f8;
}

.container {
	width: 100%;
	margin-bottom: 98rpx;
}

.dtt {
	margin-right: 20rpx;
}

.title {
	font-size: 36rpx;
	color: #8f8f94;
}

.imgs {
	width: 180rpx;
	height: 180rpx;
	display: inline-block;
	overflow: hidden;
}

.ShopCarItems {
	width: 750rpx;
	background: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 20rpx;
}

.prod-name {
	font-size: 30rpx;
	color: #333;
	max-height: 72rpx;
	line-height: 36rpx;
	display: -webkit-box;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.prod-info-text {
	color: #999;
	display: inline-block;
	-webkit-line-clamp: 1;
	height: 48rpx;
	line-height: 48rpx;
	background: #f9f9f9;
	padding: 0 10rpx 0 10rpx;
	border-radius: 4rpx;
	margin: 10rpx 0 0rpx 0;
	overflow: hidden;
	font-size: 24rpx;
	position: relative;
	font-family: arial;
}

.price {
	width: 100%;
	font-family: Arial;
	display: inline-block;
	color: #eb2444;
	padding-bottom: 10rpx;
	padding-left: 10rpx;

}

.symbol {
	font-size: 24rpx;
}

.big-num {
	font-size: 32rpx;
}

.small-num {
	font-size: 24rpx;
}

.large-box {
	display: flex;
}

.m-numSelector {
	position: absolute;
	right: 20rpx;
	display: flex;
	width: 24%;
}

.m-numSelector .minus,
.m-numSelector .plus {
	position: relative;
	border: 1px solid #ccc;
	width: 56rpx;
	text-align: center;
	color: #333;
}

.m-numSelector .minus {
	border-right: 0;
	border-top-left-radius: 4rpx;
	border-bottom-left-radius: 4rpx;
}

.m-numSelector input {
	width: 56rpx;
	text-align: center;
	color: #333;
	font-size: 28rpx;
	border: 1px solid #ccc;
}

.cart-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row nowrap;
	height: 98rpx;
	border-top: 2rpx solid #f4f4f4;
	z-index: 999;
}

.cart-footer .btn.all {
	width: 150rpx;
	font-size: 26rpx;
}

.cart-footer .btn.all {
	width: 150rpx;
	font-size: 26rpx;
}

.cart-footer .btn {
	position: relative;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	width: 0;
	background-color: #fafafa;
	background: rgba(255, 255, 255, 0.95);
	font-size: 28rpx;
}

.cart-footer .btn.del {
	color: #eb2444;
	width: 70rpx;
	font-size: 22rpx;
	text-align: left;
	display: block;
	line-height: 102rpx;
}

.cart-footer .btn.total {
	width: 300rpx;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.cart-footer .btn.total .price1 {
	color: #eb2444;
	font-size: 30rpx;
	font-family: Arial;
	display: inline-block;
	padding-bottom: 10rpx;
	padding-left: 10rpx;
}

.cart-footer .btn.settle {
	width: 200rpx;
	background: #eb2444;
	color: #fff;
}

.empty {
	font-size: 28rpx;
	color: #666;
	height: 100%;
}

.empty .img {
	margin-top: 80rpx;
	text-align: center;
}

.empty .img image {
	width: 80rpx;
	height: 80rpx;
	display: inline-block;
	overflow: hidden;
}

.empty .txt {
	text-align: center;
	margin-top: 30rpx;
}

/* 未选中的背景样式 */
checkbox .wx-checkbox-input {
	width: 40rpx;
	height: 40rpx;
	border-radius: 50%;
	margin-right: 10rpx;
	margin-left: 20rpx;
}

/* 选中后的背景样式 */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
	border: none;
	background: #f0473b;
}

/* 选中后的勾子样式 */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
	width: 40rpx;
	height: 40rpx;
	line-height: 40rpx;
	border-radius: 50%;
	text-align: center;
	font-size: 32rpx;
	color: #FFF;
	background: transparent;
	transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
}
.H2title{
	padding-left: 40rpx;
	background: #fff;
	border-bottom: 1px solid #ccc;
	line-height: 80rpx;
}
</style>
