<template>
  <view class="content">
    <!-- 搜索 -->
    <view class="search_cont">
      <input type="text" class="inp" placeholder="搜索" @click="goSearch" />
    </view>
    <!-- 轮播 -->
    <view class="uni-margin-wrap">
      <swiper
        class="swiper"
        circular
        :indicator-dots="true"
        :autoplay="true"
        :interval="1200"
        :duration="500"
      >
        <swiper-item
          v-for="(item, index) in imgData"
          :key="index"
          @click="goGoodsDetail(item.relation)"
        >
          <img :src="item.imgUrl" alt="" class="imgs_item" />
        </swiper-item>
      </swiper>
    </view>
    <!-- 新品推荐部分 -->
    <view class="uni-flex uni-row">
      <view
        class="flex-item uni-bg-red"
        v-for="(v, i) in arr"
        :key="i"
        @click="btn(v.title)"
      >
        <li class="li_top">
          <img :src="v.icon" alt="" />
        </li>
        <li class="li_bom">
          <p>{{ v.title }}</p>
        </li>
      </view>
    </view>
    <!-- 上下滚动  通知 -->
    <view class="message_play" @click="goNotice">
      <!-- 通知图标 -->
      <image src="../../static/icon/horn.png" class="horn" alt=""></image>
      <!--  -->
      <swiper
        class="swiper-cont"
        :autoplay="true"
        :duration="1500"
        :vertical="true"
      >
        <block v-for="(item, index) in scrollData" :key="index">
          <swiper-item>{{ item.title }}</swiper-item>
        </block>
      </swiper>
      <!-- 右箭头 -->
      <img class="more" src="../../static/icon/more.png" alt="" />
    </view>

    <!-- 每日上新 -->
    <view
      class="hot-sale"
      id="box_cont"
      v-for="(item, index) in prodTagList"
      :key="index"
    >
      <!-- 标题 -->
      <view class="title_hot">
        <text>{{ item.title }}</text>
        <span v-if="index !== 2" @click="btn(item.title)"
          >更多<img
            class="icon more"
            src="../../static/icon/more.png"
            mode="aspectFill"
            alt=""
        /></span>
      </view>
      <!-- 内容 -->
      <view :class="index === 2 ? 'three_box' : 'hotsale-item-cont'" v-if=" prodListAll && prodListAll.length>0">
        <view
          bindtap="toProdPage"
          data-prodid="70"
          class="prod-items"
          v-for="item2 in prodListAll[index].records"
          :key="item2.prodId"
          @click="goGoodsDetail(item2.prodId)"
        >
          <view class="hot-imagecont">
            <image class="img" :src="item2.pic" alt="加载错误" v-if='item2.pic !== "https://img.mall4j.com/2019/05/150d6c4a46914dbfa82690098b2ec4e7.jpg" ' />
            <image class="img" v-else src="../../static/error_img.png"></image>
          </view>
          <view class="hot-text">
            <p class="hot-title">{{ item2.prodName.slice(0, 30) }}</p>
            <p class="hot-tag">{{ item2.brief }}</p>
            <view class="price">
              <text class="price_item">￥{{ item2.price }}</text>
              <img
                class="icon"
                src="../../static/tabbar/basket-sel.png"
                mode="aspectFill"
                alt=""
              />
            </view>
          </view>
        </view>
      </view>
      <view>暂无数据</view>
    </view>
  </view>
</template>

<script>
import {
  login,
  getSwiper,
  getScrollData,
  getprodTagList,
  getprodList,
} from "@/services/user";
export default {
  data() {
    return {
      // Error_src: "../../static/error_img.png",
      imgData: [], //定义轮播 数据
      scrollData: [], //定义 首页 通知数据
      prodTagList: [], //标题数据 每日上新部分
      prodListAll: [], //每日 数据
      id: 0,
      arr: [ //宫格部分
        {
          title: "新品推荐",
          icon: "../../static/icon/newProd.png",
        },
        {
          title: "限时特惠",
          icon: "../../static/icon/timePrice.png",
        },
        {
          title: "每日疯抢",
          icon: "../../static/icon/neweveryday.png",
        },
      ], 
    };
  },
  onLoad() {
    //加载时
    this.login();
    this.getData();
    this.getScrollData();
    this.getTitle();
    this.getprodList();
    this.changeShopcarCountData();
  },
  onShow(){
    this.changeShopcarCountData()
  },
  methods: {
    async login() {
      // 获取用户登录状态,无授权的话先跳转
      const token = uni.getStorageSync("token");
      if (!token) {
        this.$toPage({
          url: "/pages/TokenViews/index",
        });
      }
      // 获取code
      const [, { code }] = await uni.login();
      // 根据code请求我们自己的后台登录接口
      const res = await login({
        principal: code,
      });
      // console.log(res);
      uni.setStorage({
        key: "login",
        data: res,
        success: function () {
          console.log("success");
        },
      });
      uni.setStorage({
        key: "token",
        data: res.access_token,
        success: function () {
          console.log("success");
        },
      });
    },
    goGoodsDetail(id) {
      // uni.navigateTo({
      // 	url: '/pages/goodsDetail/index'
      // })
      this.$toPage({
        url: "/pages/goodsDetail/index",
        query: {
          id: id,
        },
      });
    },
    // 跳转搜索方法
    goSearch() {
      this.$toPage({
        url: "/pages/search/search",
        query: {},
      });
    },
    // 跳转到 最新公告
    goNotice() {
      this.$toPage({
        url: "/pages/notice/index",
        query: {},
      });
    },
    // 点击不同的 标题 跳转页面
    btn(title) {
      switch (title) {
        case "新品推荐":
          this.$toPage({
            url: "/pages/newCommend/index",
            query: {},
          });
          break;
        case "限时特惠":
          this.$toPage({
            url: "/pages/limitTime/index",
            query: {},
          });
          break;
        case "每日疯抢":
          this.$toPage({
            url: "/pages/dailyGet/index",
            query: {},
          });
          break;
        case "每日上新":
          this.$toPage({
            url: "/pages/everyday/everyday",
            query: {},
          });
          break;
        case "商城热卖":
          this.$toPage({
            url: "/pages/everyday/shophot",
            query: {},
          });
          break;
      }
    },
    //获取轮播
    async getData() {
      const res = await getSwiper({});
      this.imgData = res;
      // console.log(res, "轮播数据");
    },
    // 获取上下滚动 通知 数据
    async getScrollData() {
      //获取 通知 数据
      const res = await getScrollData({});
      // console.log(res, "通知数据");
      this.scrollData = res;
    },
    // 获取每日上新
    async getprodList() {
      const arr = [
        getprodList({ tagId: 1, size: 6 }),
        getprodList({ tagId: 2, size: 6 }),
        getprodList({ tagId: 3, size: 6 }),
      ];
      Promise.all(arr).then((res) => {
        console.log(res, "数据拿到了All");
        this.prodListAll = res;
      });
    },
    // 获取 标题数据
    async getTitle() {
      const res = await getprodTagList({});
      // console.log(res, "标题数据");
      this.prodTagList = res;
    },
  },
};
</script>

<style scoped>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*  */
.title {
  width: 100%;
  height: 50px;
  font-size: 36rpx;
  color: #8f8f94;
}

/* 搜索样式 */
.search_cont {
  width: 100%;
  height: 33px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp {
  width: 90%;
  height: 24px;
  border-radius: 12px;
  background: rgb(221, 220, 220);
  text-align: center;
  font-size: 10px;
}
/* 轮播样式 */
.uni-margin-wrap {
  width: 100%;
}
.swiper {
  width: 100%;
  height: 402rpx;
  overflow: hidden;
}
.swiper-item {
  display: block;
  height: 402rpx;
  line-height: 300rpx;
  text-align: center;
}

.imgs_item {
  width: 95%;
  height: 402rpx;
  margin: 0 10px;
  border-radius: 8rpx;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
}
.swiper-list {
  margin-top: 40rpx;
  margin-bottom: 0;
}
.uni-common-mt {
  margin-top: 60rpx;
  position: relative;
}
.info {
  position: absolute;
  right: 20rpx;
}
.uni-padding-wrap {
  width: 550rpx;
  padding: 0 100rpx;
}

/* 上下滚动 */
.message_play {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 12px;
}
.swiper-cont {
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-left: 10px;
  font-size: 26rpx;
  font-weight: bold;
}

/* 通知样式 */
.horn {
  width: 32px;
  height: 15px;
  margin-left: 8px;
}

.more {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

/* 每日推荐部分 */
.uni-flex {
  height: 75px;
  width: 100%;
  display: flex;
  background: #fff;
  justify-content: space-around;
  align-items: center;
  padding-top: 20rpx;
  margin-top: 30rpx;
}

.flex-item {
  height: 55.2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li_top {
  width: 32px;
  height: 32px;
}

.li_top > img {
  width: 32px;
  height: 32px;
  background: #ccc;
}
.li_bom > p {
  height: 25px;
  font-size: 10px;
  line-height: 25px;
}
/* 内容 */
.hot-sale {
  display: flex;
  flex-direction: column;
}

.hotsale-item-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 每个商品 */
.prod-items {
  width: 50%;
  height: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
  margin-top: 20rpx;
}

/* 图。。 */
.hot-imagecont {
  width: 147px;
  height: 145px;
}
/* 图 */
.hot-imagecont > .img {
  width: 145px;
  height: 145px;
}
/* 文字 */
.hot-text {
  width: 145px;
  height: 56px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 15px;
  position: relative;
}

.prod-items > p {
  font-size: 10px;
  line-height: 13px;
  padding-right: 10px;
}
/* 标题 */
.title_hot {
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 12px;
  font-size: 14px;
}

.title_hot > span {
  width: 60px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
  color: #666;
}
/*  */
.title_hot > span > .icon {
  width: 14px;
  height: 14px;
  color: #666;
}
/* 价格部分 */
.price {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: -10px;
}
/* 价格 */
.price_item {
  font-size: 15px;
  color: red;
}

.icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
/* 
.hotsale-item-cont:nth-child(3){
  background: rgb(17, 169, 240);
} */

.title_hot:last-child {
  background: #ff0;
}

.three_box {
  width: 720rpx;
  display: flex;
  flex-direction: column;
}

.three_box > .prod-items {
  width: 100%;
  height: 122px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.three_box > .prod-items > .hot-imagecont {
  width: 250rpx;
  height: 250rpx;
}
.three_box > .prod-items > .hot-imagecont > .img {
  width: 250rpx;
  height: 250rpx;
}

.three_box > .prod-items > .hot-text {
  margin-left: 30rpx;
  width: 70%;
}

.three_box > .prod-items > .hot-text > .hot-title {
  font-size: 28rpx;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 20rpx;
}

.three_box > .prod-items > .hot-text > .hot-tag {
  color: #999;
  font-size: 22rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three_box > .prod-items > .hot-text > .price {
  margin-top: 30rpx;
  position: static;
}
</style>
