/<template>
    <view class="container">
      <view class="col-item" v-for="(item, index) in collectionList" :key="index" @click="goGoodDEATIL(item.prodId)">
            <view class="col-img"><image :src="item.pic"></view>
            <view class="col-text"><text>{{item.prodName}}</text></view>
            <view class="col-price"><text>¥{{ item.price }}</text>
        </view>
      </view>
    </view>
   
</template>

<script>
import { requireCollectList } from "../../services/user";
export default {
  data() {
    return {
      collectionList: [],
    };
  },
  onLoad(options) {
    this.collection();
  },
  methods: {
    //收藏数据
    async collection() {
      const res = await requireCollectList({});
      this.collectionList = res.records;
      console.log(this.collectionList, "收藏数据1111");
    },
    goGoodDEATIL(id){
       this.$toPage({
        url: "/pages/goodsDetail/index",
        query: {
          id: id,
        },
      });
    }
  },
};
</script>

<style>
.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #333;
    font-family: helvetica,'Heiti SC',PingFangSC-Light;
    display: flex;
    flex-wrap: wrap;
}
.col-item{
    width: 375rpx;
    background: #fff;
    padding-bottom: 20rpx;
    box-sizing: border-box;
    padding: 20rpx 20rpx 10rpx 10rpx;
}
.col-img{
    border-radius: 8rpx;
    text-align: center;
    font-size: 0;
}
.col-img image {
    width: 345rpx;
    height: 345rpx;
}
.col-text{
    margin-top: 20rpx;
}
.col-text text{
    height: 94rpx;
    font-size: 28rpx;
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
}
.col-price{
    color:red
}
</style>