<template>
  <view class="content">
    <view class="my-phone">
      <view class="item">
        <text class="item-tip">手机号码:</text>
        <input
          type="number"
          placeholder="输入手机号码"
          v-model="phonenum"
          maxlength="11"
        />
      </view>
      <view class="item">
        <text class="item-tip">验证号:</text>
        <input type="number" placeholder="输入验证码" v-model="code" />
        <text class="getCode" @click="createCode" v-show="show"
          >获取验证码</text
        >
        <text class="getCode" v-show="!show">{{ count }}重新获取</text>
      </view>
    </view>
    <view class="btn">
      <text class="sure-btn gray" v-if="!phonenum || !code">确定</text>
      <text class="sure-btn" v-if="phonenum && code" @click="commit">确定</text>
    </view>
  </view>
</template>

<script>
import { requestsendCode } from "../../services/user";
let random = Math.random().toString().slice(-6);
export default {
  data() {
    return {
      phonenum: "",
      code: "",
      flag: false,
      show: true,
      count: "",
      timer: null,
      random: "",
    };
  },
  onLoad() {
    //加载时
  },
  methods: {
    async getCode() {
      if (!this.phonenum) {
        uni.showToast({
          title: "请输入手机号",
          icon: "none",
        });
        return;
      }
      const res = await requestsendCode();
      if (this.phonenum) {
        uni.showToast({
          title: res,
          icon: "none",
        });
      }
    },

    createCode() {
      const TIME_COUNT = 60;
      if (!this.timer) {
        this.count = TIME_COUNT;
        this.show = false;
        this.timer = setInterval(() => {
          if (this.count > 0 && this.count <= TIME_COUNT) {
            this.count--;
          } else {
            this.show = true;
            clearInterval(this.timer);
            this.timer = null;
          }
        }, 1000);
      }
      console.log(random);
    },
    commit() {
      // 手机号验证
      const reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
      if (
        this.phonenum == "" ||
        this.phonenum.length <= 10 ||
        !reg.test(this.phonenum)
      ) {
        uni.showToast({
          title: "请填写正确的手机号",
          duration: 1000,
          icon: "none",
        });
      } else if (this.code !== random) {
        uni.showToast({
          title: "请填写正确的验证码",
          duration: 1000,
          icon: "none",
        });
      } else {
        uni.showToast({
          title: "绑定手机号成功",
          duration: 1000,
          icon: "none",
          success: () => {
            console.log("success");
            this.$toPage({
              url: "/pages/my/index",
              tabbar: true,
            });
          },
        });
      }
      uni.setStorage({
        key: "storage_key_phonenum",
        data: this.phonenum,
        success: function () {
          console.log("success");
        },
      });
    },
  },
};
</script>

<style scoped>
.container {
  height: 100%;
  box-sizing: border-box;
  color: #333;
  font-family: helvetica, "Heiti SC";
}
.my-phone {
  height: 100%;
  margin-top: 20rpx;
  background: #fff;
}

.my-phone .item {
  display: flex;
  padding: 20rpx 0;
  height: 60rpx;
  line-height: 60rpx;
  border-bottom: 2rpx solid #e1e1e1;
}
.item-tip {
  width: 140rpx;
  font-size: 28rpx;
  padding-left: 20rpx;
}
.item input {
  flex: 1;
  height: auto;
  padding: 0 20rpx;
  font-size: 28rpx;
}
.getCode {
  font-size: 30rpx;
  color: #3eb370;
  margin-right: 20rpx;
  text-align: center;
}
.btn {
  padding: 0 20rpx;
  margin-top: 60rpx;
}
.btn .sure-btn.gray {
  background: #e1e1e1;
  margin-bottom: 30rpx;
}
.btn .sure-btn {
  display: block;
  font-size: 32rpx;
  color: #fff;
  background: #3eb370;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20rpx 0;
  border-radius: 50rpx;
}
</style>
