<template>
  <view class="address">
    <view class="address-top">
      <!-- 地址列表 -->
      <view class="address-box" v-for="(item, index) in addresslist" :key="index">
        <view class="address-item" @click="getAddress(item)">
          <view class="address-item-left">
            <view>
              <text class="name">{{item.receiver}}</text>
              <text class="tel">{{item.mobile}}</text>
            </view>
            <vie class="addressdetail">
              {{item.province}}{{item.area}}{{item.city}}
            </vie>
          </view>
          <view class="address-item-right">
            <image src="../../static/icon/revise.png" @click="goAddressEdit"></image>
          </view>

        </view>
        <view class="address-item-bottom">
          <view>
            <checkbox></checkbox>
            <text class='setdefault'>设为默认地址</text>
          </view>
        </view>
      </view>
    </view>
    <!-- 地址底部新增按钮 -->
    <view class="address-bottom" @click="goAddress">
      <text class='savebtn'>新增收货地址</text>
    </view>
  </view>
</template>

<script>
import { requestAddressList } from '../../services/user'
export default {
  data() {
    return {
      addresslist: [],
      basketId: [],
      prodId: '',
      skuId: '',
      prodCount: '',
      shopId:'',
      type: '',
      type111:''
    }
  },
  onLoad(options) {
    this.type111 = options.type111
    this.type = options.type
    this.basketId = options.id
    this.prodId = options.prodId
    this.skuId = options.skuId
    this.prodCount = options.prodCount
    this.shopId = options.shopId
    this.addressList()
  },
  methods: {
    //地址列表数据
    async addressList() {
      const res = await requestAddressList({})
      this.addresslist = res;
      // console.log(this.addresslist, "-----地址列表数据");
    },
    goAddress() {
      this.$toPage({
        url: "/pages/addresAdd/index",
      });
    },
    goAddressEdit() {
      this.$toPage({
        url: "/pages/addresEdit/index",
      });
    },
    getAddress(item) {
      if (this.type === 'order') {
        this.$toPage({
          url: "/pages/submitOrder/index",
          query: {
            addrId: item.addrId,
            id: this.basketId,
            prodId: this.prodId,
            skuId: this.skuId,
            prodCount: this.prodCount,
            shopId: this.shopId,
            type111: this.type111,
          },
          type:'address',
          redirect: true
        });
      }
    }
  }
};
</script>

<style>
.address {
  height: 1130rpx;
  overflow: auto;
  background: #efefef;
  box-sizing: border-box;
}

.address-top {
  box-sizing: border-box;
  padding-top: 20rpx;
}

.address-box {
  box-sizing: border-box;
  background: #fff;
  padding: 20rpx;
  border: solid 1px #efefef;
  margin-bottom: 20rpx;
}

.address-item {
  display: flex;
  justify-content: space-between;
  border-bottom: dashed 1px #ccc;
  padding: 10rpx;
}

.address-item-left view {
  line-height: 50rpx;
}

.address-item-left view:nth-child(2) {
  box-sizing: border-box;
  font-size: 28rpx;
  color: #ccc;
  padding-bottom: 20rpx;
}

.address-item-right image {
  width: 50rpx;
  height: 50rpx;
}

.address-item-right {
  margin-top: 20rpx;
}

.address-item-bottom {
  height: 60rpx;
  line-height: 80rpx;
  display: flex;
  justify-content: space-between;
}

.address-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -1rpx 8rpx rgba(0, 0, 0, 0.05);
}

.address-bottom .savebtn {
  font-size: 32rpx;
  color: #eb2444;
}

.address-bottom .delbtn {
  font-size: 32rpx;
  color: #eb2444;
}

checkbox .wx-checkbox-input {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #eb2444;
  color: #fff;
  border-color: #eb2444;
}

.name {
  margin-right: 30rpx;
  font-size: 32rpx;
}

.tel {
  font-size: 32rpx;
}

.setdefault {
  font-size: 26rpx;
  color: #333;
}

.addressdetail {
  display: inline-block;
  color: #999;
  font-size: 12px;
  width: 100%;
  word-break: break-word;
}
</style>