<template>
  <view class="content">
    <!-- 搜索结果页面 -->
    <view class="item_cont" v-for="item,index in sData" :key="index">
      <view class="img_cont">
        <image :src="item.pic" class="img"></image>
      </view>
      <view class="rig_box">
        <view class="title">{{ item.prodName }}</view>
        <view class="praise_num">{{item.praiseNumber}}评价</view>
        <view class="price">￥{{ item.price }}</view>
      </view>
    </view>
  </view>
</template>

<script>
import { getDataSearch } from "@/services/user";
export default {
  data() {
    return {
      sData: [],
    };
  },
  onLoad(options) {
    this.getData(options.val); //传参
  },
  methods: {
    async getData(val) {
      // console.log(val, "结果");
      const res = await getDataSearch({
        current: 1,
        prodName: val,
        size: 10,
        sort: 0,
      });
      if (res.records.length >= 1) {
        this.sData = res.records;
      }
    },
  },
};
</script>

<style scoped>
.item_cont {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0 20px;
}
.img_cont .img {
  width: 170rpx;
  height: 170rpx;
}
.rig_box {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 10px;
}

.title {
  width: 210px;
  height: 30px;
  font-size: 12px;
  line-height: 15px;
}
/* 评价数量 */
.praise_num{
    font-size: 22rpx;
    color: #999;
    margin: 10rpx 0 20rpx 0;
}
.price {
  position: absolute;
  bottom: 0;
  color: red;
}
</style>