<template>
  <view class="content">
    <!-- 搜索框 -->
    <keep-alive>
      <view class="inp_box">
        <input
          type="text"
          v-model="Val"
          class="inp"
          placeholder="输入关键字搜索"
          @blur="Enter()"
        />
        <text class="txt">取消</text>
      </view>
      <!-- 热门搜索 -->
      <view class="hot_box">
        <span>热门搜索</span>
      </view>
      <!-- 历史搜索 -->
      <view class="sistory_box">
        <view class="title">
          <span>搜索历史</span>
          <image
            src="../../static/icon/clear-his.png"
            class="clear"
            @click="delBtn"
          ></image>
        </view>
        <view class="hist_cont">
          <text
            v-for="(item, i) in search_history"
            :key="i"
            class="tag"
            @click="tagBtn(item)"
          >
            {{ item }}
          </text>
        </view>
      </view>
    </keep-alive>
  </view>
</template>

<script>
export default {
  data() {
    return {
      Val: "", //输入内容
      search_hot: [], //搜索热门
      search_history: [], //搜索历史
    };
  },
  methods: {
    async Enter() {
      //失焦事件
      // current=1&prodName=Apple&size=10&sort=0
      if (this.Val !== "") {
        //输入内容 不是空
        // const buer = this.search_history.filter((item)=>{return item===this.Val})
        // console.log(buer,"布尔");
        this.search_history.push(this.Val); //历史记录 写入 输入内容

        uni.setStorage({
          key: "storage_key",
          data: this.search_history,
          success: function (res) {
            console.log(res, "原来如此");
          },
        });
      }
      //   console.log("失焦事件拿到输入内容", this.Val);
      this.$toPage({
        url: "/pages/search/res", //跳转到 搜索结果
        query: {
          val: this.Val,
        },
      });
    },
    tagBtn(title) {
      this.Val = title;
    },
    delBtn() {
      //点击 删除 历史记录
      this.search_history = [];
      //
      uni.removeStorage({
        key: "storage_key",
        success: function (res) {
          console.log("成功删除搜索历史");
        },
      });
    },
  },
  watch: {
    search_history: {
      deep: true,
      immediate: true,
      handler(newVal, oldVal) {  //开始 监听 ——————————————————————————————————————
        // console.log(newVal, "监听历史记录？？？");
        if (newVal.length !== 0) {
          //data部分的历史数据 是否 有值
        } else {
          //历史记录 没有值 执行 以下 逻辑
          if (
            uni.getStorage({
              key: "storage_key",
            }) //判断 能否 获取本地存储
          ) {
            // console.log("拿到存储了");
            uni.getStorage({
              key: "storage_key",
              success: function (res) {
                console.log(res.data, "成功拿到存储数据Array");
                console.log(newVal, "??____");
                const arr = res.data.forEach((item) => {
                  newVal.push(item);
                });
                newVal = arr;
              },
            });
          } else {
            //没有拿到 存储数据
            uni.setStorage({ //设定 存储数据
              key: "storage_key",
              data: newVal,
              success: function (res) {
                console.log(res, "监听了 设定成功");
              },
            });
          }
        }
      },
    },
  },
  onLoad() {
    console.log(this.search_history, "挂载数据");
  },
};
</script>

<style scoped>
.inp_box {
  width: 100%;
  height: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inp {
  width: 100%;
  height: 25px;
  background: #ccc;
  margin-left: 10px;
  border-radius: 16px;
  text-indent: 20px;
  font-size: 10px;
  padding-left: 20px;
}
.txt {
  width: 50px;
  height: 25px;
  line-height: 25px;
  font-size: 28rpx;
  margin-left: 20px;
  color: red;
}
/* 热门搜素 样式 */
.hot_box {
  width: 95%;
  height: 40px;
  margin: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999;
  padding: 30rpx 0;
}
/* 搜索历史 */
.sistory_box {
  width: 100%;
  height: 40px;
  /* margin: 0 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.title > span {
  margin: 0;
}
.clear {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.hist_cont {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag {
  font-size: 10px;
  padding: 10rpx 15rpx;
  border-radius: 20px;
  background: #ccc;
  margin: 10px 0 10px 10px;
}
</style>