<template>
  <view class="content">
    <view class="item_cont" v-for="(item, index) in Daily" :key="index" @click="goDetail(item.prodId)">
      <view class="img">
        <image :src="item.pic" class="img"></image>
      </view>
      <view class="txt_cont">
        <text class="prodName">{{ item.prodName.slice(0, 28) }}</text>
        <view class="price">
          <span>￥{{ item.price }}</span>
        </view>
      </view>
    </view>
    <view class="block" v-if="newData.length === 0"> 暂无商品 </view>
  </view>
</template>

<script>
import { getDailyGet } from "../../services/user";
export default {
  //
  data() {
    return {
      Daily: [],
    };
  },
  onLoad() {
    // console.log(options);
    this.init();
  },
  methods: {
    async init() {
      const res = await getDailyGet({
        current: 1,
        size: 10,
      });
      // console.log(res, "每日疯抢数据");
      this.Daily = res.records;
    },
    goDetail(id){
      this.$toPage({
        url: "/pages/goodsDetail/index",
        query: {
          id: id,
          name: "zs",
        },
      });
    }
  },
};
</script>

<style>
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title {
  font-size: 36rpx;
  color: #8f8f94;
}
/* ______ */
/* 每件商品 */
.item_cont {
  width: 50%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  */
.img {
  width: 345rpx;
  height: 345rpx;
}
/* 标题 */
.prodName {
  font-size: 10px;
}
.txt_cont {
  width: 345rpx;
  height: 100%;
  position: relative;
}
.prodName {
  line-height: 28rpx;
}
.price {
  position: absolute;
  bottom: 10px;
  font-size: 32rpx;
  color: red;
}
</style>