<template>
  <view class="my">
    <view class="my-top">
      <image lazy-load :src="pic"></image>
      <view class="nickName">{{ nickName }}</view>
    </view>
    <view class="my-phone" v-show="flagbindPhone">
      <test class="test">绑定手机号后可查看订单和领取优惠券,</test>
      <text class="bind-phone" @click="goMyPhone">去绑定</text>
    </view>
    <!-- <view class="my-phone" v-show="!flagbindPhone">
      <test class="test">已绑定手机号:</test>
      <text class="bind-phone" @click="goMyPhone">{{localStorage}}</text>
    </view> -->
    <view class="my-order">
        <view class="order-tit">
			<text>我的订单</text>
			<view class="checkmore" @click="goOrderList">
				<text>查看全部</text>
				<text class="arrowhead"></text>
			</view>
		</view>
        <uni-grid :column="4" :show-border="false" :square="false"  class="grid-item" @change="changeOrder">
          <uni-grid-item
            v-for="(item, index) in list"
            :index="index"
            :key="index"
          >
            <view class="grid-item-box">
              <image class="image" :src="item.url" mode="aspectFill" />
              <text class="text">{{ item.text }}</text>
            </view>
            
          </uni-grid-item>
          <text class="num-badge" v-if="unpaycount.unPay">{{ unpaycount.unPay }}</text>
        </uni-grid>
     
    </view>
	<view class="my-list">
        <uni-grid :column="4" :show-border="false" :square="false"  class="grid-item" >
          <uni-grid-item
            v-for="(item, index) in lists"
            :index="index"
            :key="index"
          >
            <view class="grid-item-box" @click="change(item)">
			         <text class="count">{{ item.count }}</text>
               <text class="list-text">{{ item.text }}</text>
               
            </view>
          </uni-grid-item>
        </uni-grid>
     
    </view>
	<view class="my-address">
		<view class="my-address-item">
			<view class="i-name">
				<img src="../../static/icon/myAddr.png" alt="">
				<text @click="goAddress">收货地址</text>
			</view>
			<view class="arrowhead" @click="goAddress"></view>
		</view>
	</view>
  </view>
</template>

<script>
import {collectionData,requirepay} from '../../services/user'
export default {
  data() {
    return {
      pic: "",
      nickName: "",
      collectionCount: "",
	    title:'',
      localStorage:"",
      flagbindPhone:true,
      badge:1,
      unpaycount:"",
      list: [
        {
          url: "../../static/icon/toPay.png",
          text: "待支付",
          
        },
        {
          url: "../../static/icon/toDelivery.png",
          text: "待发货",
        },
        {
          url: "../../static/icon/toTake.png",
          text: "待收货",
        },
        {
          url: "../../static/icon/toComment.png",
          text: "已完成",
        },
      ],
	  lists: [
		{
			count:1,
			text:'我的收藏',
      path:""
		},
		{
			count:5,
			text:'我的消息'
		},
		{
			count:3,
			text:'我的足迹'
		},
		{
			count:0,
			text:'我的积分'
		},
	  ]
    };
  },
  onLoad(options) {
    // 账户信息
    this.getUserInfo();
    this.collection();
    this.getPhoneNum()
    this.unpay()
  },
  methods: {
    getUserInfo() {
      try {
        const value = uni.getStorageSync("login");
        if (value) {
          console.log(value, "用户信息");
          this.pic = value.pic;
          this.nickName = value.nickName;
        }
      } catch (e) {
        // error
      }
    },
    getPhoneNum() {
      try {
        const value = uni.getStorageSync("storage_key_phonenum");
        if (value) {
          console.log(value, "storage_key_phonenum");
          this.localStorage = value;
        }
      } catch (e) {
        // error
      }
    },
    goMyPhone() {
       this.$toPage({
        url: "/pages/myPhone/index",
      });
    },
    goOrderList() {
       this.$toPage({
        url: "/pages/orderList/index",
      });
    },
    goAddress(){
      this.$toPage({
        url: "/pages/address/index",
        type:'My'
      });
    },
    //点击我的收藏
    change(item) {
        if(item.text === '我的收藏') {
           this.$toPage({
            url: "/pages/collectionList/index",
          });
        }
		},
    //收藏数量
    async collection() {
      const res = await collectionData({})
      this.lists[0].count = res;
      // console.log( this.collectionCount,"收藏数据");
    },
     //待支付数量
    async unpay() {
      const res = await requirepay({})
      this.unpaycount = res;
      console.log( this.unpaycount,"待支付数量");
    },
    //点击我的订单状态
    changeOrder(e){
      let {index} = e.detail;
      this.$toPage({
        url:'/pages/orderList/index',
        query:{
          count:index+1
        }
      })
    }
  },
};
</script>

<style>
.my {
  width: 100%;
  height: 100%;
  background: #efefef;
  box-sizing: border-box;
}
.my-top {
  padding: 30rpx;
  height: 227rpx;
  text-align: center;
  background: #fff;
}
.nickName {
  font-size: 30rpx;
}

.my-top image {
  width: 180rpx;
  height: 180rpx;
  border-radius: 50%;
}
.my-phone {
  padding: 6px;
  font-size: 26rpx;
  background: #fff;
  border-top: 2rpx solid #f7f7f7;
  border-bottom: 2rpx solid #f7f7f7;
}
.test {
  color: #000000c4;
}
.bind-phone {
  border-radius: 8rpx;
  font-size: 28rpx;
  color: #e24b4b;
  font-weight: bold;
}

.my-order {
  box-sizing: border-box;
  width: 100%;
  height: 230rpx;
  background-color: #fff;
  margin-top: 20rpx;
}
.my-list {
  box-sizing: border-box;
  width: 100%;
  height: 180rpx;
  background-color: #fff;
  margin-top: 20rpx;
}
.image {
   width: 70rpx;
    height: 70rpx;
    margin-bottom: 20rpx;
}

.text {
 font-size: 22rpx;
  color: #80848f;
  margin-top: 5px;
}
.count{
	font-size: 16px;
    font-weight: 700;
    color: #3a86b9;
}
.list-text{
  font-size: 30rpx;
  margin-top: 5px;
}

.example-body {
  display: block;
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25rpx;
   height: 160rpx;
}
.grid-dynamic-box {
  margin-bottom: 15px;
}

.grid-item-box {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.grid-item-box-row {
  flex: 1;
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.grid-dot {
  position: absolute;
  top: 5px;
  right: 15px;
}

.swiper {
  height: 420px;
}
.mb-10 {
		margin-bottom: 10px;
	}

.order-tit {
    display: flex;
    justify-content: space-between;
    height: 80rpx;
    line-height: 80rpx;
    font-size: 30rpx;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 30rpx;
}
.arrowhead {
    width: 15rpx;
    height: 15rpx;
    border-top: 2rpx solid #999;
    border-right: 2rpx solid #999;
    transform: rotate(45deg);
    margin-left: 10rpx;
}
.checkmore {
    font-size: 22rpx;
    color: #80848f;
    display: flex;
    align-items: center;
}
.my-address{
	background-color: #fff;
	margin-top: 20rpx;
}
.my-address .my-address-item:nth-child(1) {
    border-top: 2rpx solid #f7f7f7;
}
.my-address .my-address-item:nth-child(2) {
    border-bottom: none;
}
.my-address-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100rpx;
    border-bottom: 2rpx solid #f7f7f7;
    padding: 0 30rpx;
}
.my-address-item image{
	width: 50rpx;
    height: 50rpx;
    margin-right: 20rpx;
}
.my-address-item text{
	font-size: 28rpx;
}

.i-name {
    display: flex;
    align-items: center;
}
.num-badge {
    position: absolute;
    top: 460rpx;
    right: 620rpx;
    color: #eb2444;
    border: 3rpx solid #eb2444;
    border-radius: 50rpx;
    background: #fff;
    min-width: 30rpx;
    height: 30rpx;
    line-height: 30rpx;
    text-align: center;
    padding: 2rpx;
    display: block;
}
</style>
