<template>
  <view class="content">
    <view class="block" v-if="newData.length===0"> 暂无商品 </view>
  </view>
</template>

<script>
import { getLimitTime } from "../../services/user";
export default {
  data() {
    return {
      newData: [],
    };
  },
  onLoad() {
    this.init();
  },
  methods: {
    async init() {
      const res = await getLimitTime({
        current: 1,
        size: 10,
      });
      // console.log(res.records, "限时推荐数据");
      this.newData = res.records;
    },
  },
};
</script>

<style>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 36rpx;
  color: #8f8f94;
}
.block{
  font-size: 35rpx;
  margin: auto 0;
}
</style>
