<template>
  <view class="content">
    <view
      class="item_cont"
      v-for="(item, index) in noticeList"
      :key="index"
      @click="btn(item.id)"
    >
      <view class="title">{{ item.title }}</view>
      <view class="date">{{ item.publishTime }}</view>
    </view>
  </view>
</template>

<script>
import { getNoticeList, getScrollData } from "../../services/user";
export default {
  data() {
    return {
      noticeList: [],
    };
  },
  onLoad() {
    this.getData();
  },
  methods: {
    async getData() {
      const res = await getScrollData();
      console.log(res, "公告数据");
      this.noticeList = res;
    },
    // 点击事件
    btn(id) {
      console.log(id);
      this.$toPage({
        url: "/pages/notice/index2",
        query: {
          id: id,
        },
      });
    },
  },
};
</script>

<style scoped>
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_cont {
  width: 700rpx;
  padding: 20rpx;
  padding-bottom: 0;
  border-bottom: 1px solid #999;
}
.title {
  font-size: 28rpx;
  text-align: left;
}
.date {
  font-size: 24rpx;
  color: #999;
  text-align: right;
  margin-top: 10rpx;
  margin-bottom: 20rpx;
}
</style>