<template>
  <view class="content">
    <view class="title">{{ noticeData.title }}</view>
    <view class="text" v-html="contents">
    </view>
  </view>
</template>

<script>
import { getNoticeList } from "../../services/user";
export default {
  data() {
    return {
      noticeData: {},
      contents:''
    };
  },
  onLoad(options) {
    // console.log(options.id);
    this.getData(options.id);
  },
  methods: {
    async getData(id) {
      const res = await getNoticeList(id);
    //   console.log(res, "公告数据2222");
      this.noticeData = res;
      this.contents =this.changContents( res.content)
    },
    changContents(content){ //灵魂
        return content.replace(/width\=\"\d+\"/g, 'width="100%"').replace(/height\=\"\d+\"/g,'')
    }
  },
};
</script>

<style scoped>
.content{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}
.title{
    font-size: 32rpx;
    font-weight: 600;
    text-align: center;
    line-height: 50rpx;
    padding: 20rpx 0;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 0 20rpx;
}
</style>